{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        @CHARSET "UTF-8";
        .progress-bar{color:#333;} 
        *{-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;}
        .form-control{position:relative;font-size:16px;height:auto;padding:10px;@include box-sizing(border-box);&:focus{z-index:2;}}
        body{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
        .login-form{margin-top:60px;width:600px;}
        form[role=login]{color:#5d5d5d;background:#f2f2f2;padding:26px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
        form[role=login] img{display:block;margin:0 auto;margin-bottom:35px;}
        .form-links{text-align:center;margin-top:1em;margin-bottom:50px;}
        .form-links a{color:#025AA5;}
        form{min-width:380px !important ;}
        form[role=login] input{width:255px !important;}
        .footer {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #f5f5f5;
          height: 40px;
          text-align: center;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            
            $('#username').focus();
            $('#linkRecordartoio').click(function(){;
                $('#autenticar').hide();
                $('#recordarClave').show();
                $('#email').focus();
            });
            $('#linkAutenticar').click(function(){
                $('#autenticar').show();
                $('#recordarClave').hide();
                $('#username').focus();
            });

            {% if app.session.flashbag.get('no_cliente')  %} 
            $('.estado').empty().html('Usuario no encontrado');
            animar();
            {% endif %}

            {% if app.session.flashbag.get('sin_autenticar')  %} 
                $('.estado').empty().html('Usuario y/o contraseña invalidos.');
                animar();
            {% endif %}

            {% if app.session.flashbag.get('no_permiso')  %} 
                $('.estado').empty().html('No tiene permiso para acceder a la aplicaci&oacute;n.<br>Comun&iacute;quese con el administrador o proveedor.');
                animar();
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('Recordatorio') %}$('.estado').empty().html('{{flashMessage}}');{% endfor %}
            {% if provBloqueado != null %}
                $('.estado').html('<p>El administrador no le ha concedido permisos para acceder a la aplicación.<br>Por favor, comuníquese con él.</p>');
                animar();
            {% endif %}
            {% if app.session.flashbag.get('error') %}
                $('.estado').html('Usuario y/o contraseña invalidos');
                animar();
            {% endif %}

            function animar(){
                $('.estado').removeClass().addClass('bounceInDown animated text-danger estado').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $(this).removeClass().addClass('text-danger estado');
                });
            }

            $('#recordarClave').submit(function(){
            msg='Enviando Correo...';
            swal({
                title: 'Cargando',
                text:msg+'.<br><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="spinnerMaterialDesign" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>',
                type:'info',
                html: true,
                showConfirmButton: false
            });            
            $.ajax({
                url:'{{ path('administrador_default_recordarClave') }}',
                dataType:'JSON', 
                data:{email:$('#email').val()},
                type:"POST",
                success: function(data){
                    if(data.success){
                        $('.estado').text('Se ha enviado la información al correo registrado');
                        $('#autenticar').show();
                        $('#recordarClave').hide();
                        $('#username').focus();
                    } else {
                        $('.estado').text('El correo ingresado no se encuentra registrado');
                    }
                    swal.close();
                },
                error: function(data){
                    swal.close();
                    $('.estado').html("error al enviar recordatorio "+data.status);
                    animar();
                }
            });
            return false;
            });
        });

        function animar(){
        $('.estado').removeClass().addClass('bounceInDown animated text-danger estado').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass().addClass('text-danger estado');
        });
    }
    </script>
{% endblock javascripts %}
{% block body %}
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <section class="login-form">
            <div class="col-md-6 text-right"></div>
            <div class="col-md-6">
                <form method="post" action="{{ path("administrador_default_login_check") }}" role="login" autocomplete="off" id="autenticar">
                    <div>Inicio de sesion <b>Impuestos</b> - <b>Administrador</b>.</div>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i>&nbsp;</span>
                      <input type="text" name="_username" class="form-control" placeholder="Usuario" id="username" aria-describedby="sizing-addon1" value="{% if last_username is defined %}{{ last_username }}{% endif %}" required>
                    </div>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
                      <input type="password" class="form-control" placeholder="Clave" id="password" name="_password" aria-describedby="sizing-addon1" required>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="pwstrength_viewport_progress"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block text-center">Ingresar</button>
                        <a href="#" id="linkRecordartoio">Recordar clave</a>
                    </div>
                    <div class="text-danger estado"></div>
                </form> 
                <form method="post" action="" role="login" autocomplete="off" id="recordarClave" style="display:none;">
                    <div>Recordatorio de Clave <b>Impuestos</b> - <b>Administrador</b>.</div>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i>&nbsp;</span>
                      <input type="text" name="email" class="form-control" placeholder="Email" id="email" aria-describedby="sizing-addon1" required>
                    </div>
                    <div class="input-group input-group-lg">
                        <div class="pwstrength_viewport_progress"></div>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Recordar Clave</button>
                        <a href="#" id="linkAutenticar">Autenticar</a>
                    </div>
                    <div class="text-danger estado"></div>
                </form>              
            </div>
        </section> 
    </div>
    <div class="col-md-3"><p class="text-right"><img src="{{ asset('images/logoCopidrogas.png') }}" width=""></p></div>        
    <footer class="footer">
        <p class="text-muted text-right"><a target="_blank" href="http://www.waplicaciones.co"><img src="{{ asset('images/waplicacionesSAS.png') }}" width="100"></a></p>
    </footer>
{% endblock %}