<?xml version='1.0' encoding='utf-8'?>
<rows>
    <page>{{ pagina }}</page>
    <total>{{ maxPagina }}</total>
    <records>{{ numRegistros }}</records>
    {% for entity in entities %}
    <row id="{{ entity.id }}">
        <cell>{{ entity.id }}</cell>
        <cell><![CDATA[{{ entity.nit }}]]></cell>
        <cell><![CDATA[{{ entity.nombre }}]]></cell>
        <cell><![CDATA[{{ entity.direccion }}]]></cell>
        <cell><![CDATA[{{ entity.tel }}]]></cell>
        <cell><![CDATA[{{ entity.representante }}]]></cell>
        <cell><![CDATA[{{ entity.mail }}]]></cell>
        <cell><![CDATA[{{ entity.password }}]]></cell>
        <cell><![CDATA[{{ estados[entity.enabled] }}]]></cell>
        <cell><![CDATA[{{ entity.ciudad }}]]></cell>
        <cell><![CDATA[{% if entity.aprobacionCambio == 1 %} <button id="{{ entity.id }}" type="button" class="btn btn-success aprobar"><i class="fa fa-check"></i></button> {% elseif entity.aprobacionCambio == 2 %} <span class="text-success">Cambios aprobados</span> {% elseif entity.aprobacionCambio is null or entity.aprobacionCambio is empty %} {% endif %} ]]></cell>
    </row>
    {% endfor %}
</rows>

<!-- 
    Codigo original estado aprobacion
    <cell><![CDATA[{#% if entity.aprobacionCambio == 2 %#}<span class="text-success">Cambios aprobados</span>{#% elseif entity.aprobacionCambio == 1 %#} <button id="{#{ entity.id }#}" type="button" class="btn btn-success aprobar"><i class="fa fa-check"></i></button> {#% else %#} {#% endif %#}]]></cell>
-->