{% extends 'AdministradorBundle::interna.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/uicore/javascripts/vendor/html5shiv.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('bundles/uicore/javascripts/custom/administradors.js') }}"></script>
        <script>
            var is_edit = false;
            var current_edit_user = 0; 
            var url;

$(document).ready(function(){
    $('#create_form_launcher').click(function(){
        clearForms();
        is_edit = false;
        $('#create_form').removeClass('hidden_field');
        $('#query_form').addClass('hidden_field');
    });
    $('#query_form_launcher, #send_cancel').click(function(){
        $('#query_form').removeClass('hidden_field');
        $('#create_form').addClass('hidden_field');
        clearForms();
    });
    $('#send_create_user').click(validateForm);
}); 

function lookUser(_id){
    $.ajax({
        url: Routing.generate('admin_getuser', { id: _id }),
        type: "POST",
        dataType: "json",
        success: onLookUser
    });	
}

function onLookUser(data){
    $('#lnit').text(data[0].nit);
    $('#lnombre').text(data[0].nombre);
    $('#ldireccion').text(data[0].direccion);
    $('#ltel').text(data[0].tel);
    $('#lciudad').text(data[0].ciudad);
    $('#lmail').text(data[0].mail);
    $('#lpassword').text(data[0].password);
    $('#look_launcher').click();
}

function editUser(_id){
    $.ajax({
        url: Routing.generate('admin_getuser', { id: _id }),
        type: "POST",
        dataType: "json",
        success: editUserSetForm
    });	
}
function editUserSetForm(data){
	clearForms();
	$('#create_form_launcher').click();
	is_edit = true;
	current_edit_user = data[0].id;
	$('#nit').val(data[0].nit);
	$('#nombre').val(data[0].nombre);
	$('#direccion').val(data[0].direccion);
	$('#tel').val(data[0].tel);
	$('#ciudad').val(data[0].ciudad);
	$('#mail').val(data[0].mail);
	$('#password').val(data[0].password);
	$('#cpassword').val(data[0].password);
	$("#nit").prop('disabled', true);
	$("#nombre").prop('disabled', true);
}


function deleteUser(_id){
    $.ajax({
        url: "{{ path("admin_deleteuser") }}",
        data:{id:_id},
        type:"POST",
        dataType: "json",
        success: onCreateUser
    });	
}
function validateForm(){
	$('*').removeClass('empty_flield');
	var counter = 0;
	if($('#nit').val() == ''){
		counter++;
		$('#nit').addClass('empty_flield');
	}
	if($('#nombre').val() == ''){
		counter++;
		$('#nombre').addClass('empty_flield');
	}
	if($('#direccion').val() == ''){
		counter++;
		$('#direccion').addClass('empty_flield');
	}
	
	if($('#tel').val() == ''){
		counter++;
		$('#tel').addClass('empty_flield');
	} else {		
	}
	
	if($('#ciudad').val() == ''){
		counter++;
		$('#ciudad').addClass('empty_flield');
	} else {		
	}
	
	if($('#mail').val() == ''){
		counter++;
		$('#mail').addClass('empty_flield');
	} else {		
	}
	if($('#password').val() == ''){
            counter++;
            $('#password').addClass('empty_flield');
            $('#cpassword').addClass('empty_flield');
	} else {
            if($('#password').val() != $('#cpassword').val()){ 
                $('#password').addClass('empty_flield');
                $('#cpassword').addClass('empty_flield');
                $('#pwd_message').removeClass('hidden_field');
                counter++;
            } else { 
            }
	} 

			
	if(counter > 0){
		$('#alert-message').html('<p>El formualrio de creación de usuario se encuentra incompleto</p>');
		$('#alert_launcher').click();
	} else {
		if(!is_edit){
                    console.log('entra a editar');
                    $('#page_loader').show();
                    $.ajax({
                        url: "{{ path("admin_createuser") }}",
                        data:{	
                            nombre:$('#nombre').val(),
                            direccion:$('#direccion').val(),
                            nit:$('#nit').val(),
                            tel:$('#tel').val(),
                            ciudad:$('#ciudad').val(),
                            mail:$('#mail').val(),
                            password:$('#password').val()
                        },
                        type: "POST",
                        dataType: "json",
                        success: onCreateUser
                    });	
		} else {
                    $('#page_loader').show();
                    $.ajax({
                        url: "{{ path("admin_updateuser") }}", 
                        data:{	
                            id: current_edit_user,
                            nombre:$('#nombre').val(),
                            direccion:$('#direccion').val(),
                            nit:$('#nit').val(),
                            tel:$('#tel').val(),
                            ciudad:$('#ciudad').val(),
                            mail:$('#mail').val(),
                            password:$('#password').val()
                        },
                        type: "POST",
                        dataType: "json",
                        success: onCreateUser
                    });	
		}
	}	
	return true;
}

function onCreateUser(data){
	$('#page_loader').hide();
	if(data.response == 'exist'){
		$('#alert-message').html('<p>El NIT ingresado ya se encuentra registrado</p>');
		$('#alert_launcher').click();
	} else{
		window.location = "";
	}
		
}


function clearForms(){
	$("#nit").prop('disabled', false);
	$("#nombre").prop('disabled', false);
	is_edit = false;
	current_edit_user = 0;
		
	$('*').val('');		
}
        </script>
{% endblock %}
{% block body %}
    {% include 'ImpuestosBackendBundle:Administracion:header.html.twig' %}
        <div class="sidebar-background">
            <div class="primary-sidebar-background"></div>
        </div>
        <!-- Menu principal -->
        <div id="menu_left" class="primary-sidebar">
            {% include 'ImpuestosBackendBundle:Administracion:menu.html.twig' %}
        </div>
        <!-- wrapper principal -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="area-top clearfix">
                    <div class="pull-left header">
                        <h3 class="title"><i class="icon-dashboard"></i>Administración de usuarios</h3>
                        <h5>Consulte , adicione y edite usuarios</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid padded">
            <hr class="divider">
            <ul class="action-nav-normal rounded">
                <li class="action-nav-button">
                  <a href="javascript:;" id="create_form_launcher" class="tip" title="" data-original-title="Crear Usuario">
                    <i class="icon-file-alt"></i>
                  </a>
                </li>

                <li class="action-nav-button">
                  <a href="javascript:;" id="query_form_launcher" class="tip" title="" data-original-title="Consultar usuarios">
                    <i class="icon-user"></i>
                  </a>
                </li>
            </ul>
            <hr class="divider">
        </div>	
        <div class="container-fluid padded form-user">
            <div class="row-fluid">
                <div class="span12 hidden_field" id="create_form">
                    <div class="row-fluid">
                        <div class="span12" >
                            <div class="box">
						      <div class="box-header">
						        <span class="title">Forms</span>
						      </div>
						      
						      <div class="box-content">
						      	<form class="fill-up">
						      		<div class="row-fluid">
						      			<div class="span6">
								      		<ul class="padded separate-sections">
								      			<li class="input">Datos de proveedor</li>

								      			<li class="input hidden_field" id="loader_holder">
								                   <img class="loader" src="{{asset('images/loader.GIF')}}">  
								                   <label class="loader_label">Cargado<p id="loader_percent"></p></label>
								                </li>
								      			
								                <li class="input">
								                  <input id="nit" type="text" placeholder="Nit">
								                </li>
								                <li class="input">
								                  <input id="nombre" type="text" placeholder="Nombre">
								                </li>
								                <li class="input">
								                  <input id="direccion" type="text" placeholder="Dirección">
								                </li>
								                <li class="input">
								                  <input id="tel" type="text" placeholder="Teléfono">
								                </li>
								                <li class="input hidden_field">
								                  <input id="representante" type="text" placeholder="Representante">
								                </li>
								                <li class="input">
								                  <input id="ciudad" type="text" placeholder="Ciudad">
								                </li>
								      			<li class="input">
								                  <input id="mail" type="text" placeholder="mail">
								                </li>
								                
								            </ul>
								      	</div>
								      	<div class="span6">
								      		<ul class="padded separate-sections">
								      			
								      			<li class="input">Acceso</li>
								      			<li class="input">
								                  <input id="password" type="password" placeholder="Contraseña">
								                </li>
								                <li class="input">
								                  <input id="cpassword" type="password" placeholder="Confirmar contraseña">
								                </li>
								                <li id="pwd_message" class="input hidden_field">
								                  <b><p>Las contraseñas deben coincidir</p></b>
								                </li>
								                
								            </ul>
								      	</div>
						      		</div>
						      	</form>
								<div class="form-actions">
						            <button id="send_create_user" type="submit" class="btn btn-blue">Guardar</button>
						            <button id="send_cancel" type="button" class="btn btn-default">Cancelar</button>
					          	</div>
						      </div>					      
						    </div>
						  </div>
    					</div>	
    				</div>
    			</div>
			</div>
		  	<div id="query_form" class="">
		  		<div class="container-fluid padded query">
			    	<div class="row-fluid">
	  					<div class="span12">
	    					<div class="box">
	    						<div class="box-header">
	    						<span class="title">Usuarios registrados</span></div>
	    						<div class="box-content">
                                                            <div id="">	
                                                                <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th><div>Acciones</div></th>
                                                                            <th><div>Nombre</div></th>
                                                                            <th><div>Email</div></th>
                                                                            <th><div>Teléfono</div></th>
                                                                            <th><div>Nit</div></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for usuario in usuarios %}
                                                                        <tr>
                                                                            <td>
                                                                              <div class="btn-group">
                                                                                <button class="btn btn-mini btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
                                                                                <ul class="dropdown-menu">
                                                                                  <li><a href="javascript:lookUser({{usuario.id}});">Consultar</a></li>
                                                                                  <li><a href="javascript:editUser({{usuario.id}});">Editar</a></li>
                                                                                  <li><a href="javascript:deleteUser({{usuario.id}});;">Eliminar</a></li>
                                                                                </ul>
                                                                              </div>
                                                                            </td>
                                                                            <td>{{usuario.nombre}}</td>
                                                                            <td>{{usuario.mail}}</td>
                                                                            <td>{{usuario.tel}}</td>
                                                                            <td>{{usuario.nit}}</td>

                                                                        </tr>
                                                                        {%endfor%}
                                                                    </tbody>
                                                                </table>
                                                            </div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
				</div>

		  	</div>
		  	<div id="query_form" class="">
                            <div class="container-fluid padded query">
			    	<div class="row-fluid">
                                    <div class="span12">
                                        <div class="box">
                                            <div class="box-header">
                                            <span class="title">Log de accesos</span></div>
                                            <div class="box-content">
                                                <div id="">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="dTable">
                                                        <thead>
                                                            <tr>
                                                                <th><div>Nit</div></th>
                                                                <th><div>Fecha</div></th>
                                                                <th><div>Tipo de acceso</div></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for log in logs %}
                                                            <tr>
                                                                <td>{{log.usuarios.nit}}</td>
                                                                <td>{{log.fecha|format('Y-m-d')}}</td>
                                                                <td>{{log.tipo_acceso}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
	    			</div>
                            </div>
		  	</div>
		</div>
		
		<!-- MODAL LOOK QUERY USER -->
		<a data-toggle="modal" href="#modal-simple" id="modal_launcher" class="hidden_field"> </a>
		<div id="modal-simple" class="modal hide fade">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h6 id="modal-tablesLabel">Información de usuario</h6>
			  </div>
			  <div class="content">
				
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
			  </div>
		</div>
		
		<!-- MODAL LOOK QUERY USER -->
		<a data-toggle="modal" href="#alert-simple" id="alert_launcher" class="hidden_field"> </a>
		<div id="alert-simple" class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h6 id="modal-tablesLabel">Mensaje</h6>
		  </div>
		  <div class="modal-body" id="alert-message">
		    
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-blue" data-dismiss="modal">Cerrar</button>
		  </div>
		</div>
		
		<div id="page_loader">
    		<div><img src="{{asset('bundles/uicore/images/pageloader.gif')}}" /></div>
    	</div>
		
		<a data-toggle="modal" href="#modal-simple" id="modal_launcher" class="hidden_field"> </a>
		<div id="modal-simple" class="modal hide fade">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h6 id="modal-tablesLabel">Mensaje</h6>
			  </div>
			  <div class="modal-body">
				_mensaje_
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
			  </div>
		</div>
		
		<!-- MODAL LOOK QUERY USER -->
		<a data-toggle="modal" href="#look-simple" id="look_launcher" class="hidden_field"> </a>
		<div id="look-simple" class="modal hide fade">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h6 id="modal-tablesLabel">Información usuario</h6>
		  </div>
		  <div class="modal-body" id="alert-message">
                    <div class="box-section news"> 
                        <ul class="user-info">
                                <li class="title_name"><div id="" class="news-title">NIT: </div></li>
                                <li class="title_name"><div id="lnit" class="news-title">  </div></li>
                                <li><b>Nombre:</b> </li>
                                <ll><p id="lnombre" ></p></ll>
                                <li><b>Dirección:</b> </li>
                                <li><p id="ldireccion" ></p></li>
                                <li><b>Teléfono:</b> </li>
                                <li><p id="ltel" ></p></li>
                                <li><b>Ciudad:</b> </li>
                                <li><p id="lciudad" ></p></li>
                                <li><b>Mail:</b> </li>
                                <li><p id="lmail" ></p></li>
                                <li><b>Contraseña:</b></li>
                                <li><p id="lpassword" ></p></li>
                        </ul>
                    </div>
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-blue" data-dismiss="modal">Cerrar</button>
		  </div>
		</div>
		<footer>
		</footer>
	</div>
{% endblock %}